<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../stylesheets/style.css" />
    <link rel="shortcut icon" type="image/png" href="../images/favicon.png" />

    <title>CUHA-ON</title>
  </head>

  <body>
    <header class="admin-header">
      <div class="admin-header__logo"></div>
      <div class="admin-header__component">
        <!-- <form action="#" name="searchbox" style="display: inline">
                    <input class="admin-header__component-search" name="search" type="text" placeholder="검색" autocomplete="off" />
                </form> -->
        <a
          href="#"
          class="admin-header__component-button"
          style="margin-left: 2rem"
          >로그아웃</a
        >
      </div>
    </header>
    <main
      class="ad"
      style="overflow: hidden; height: 90rem; width: 190rem; clear: both"
    >
      <div class="admin-dashboard">
        <div class="admin-dashboard__left">
          <a
            href="./dashboard_members.html"
            class="
              admin-dashboard__left-menu admin-dashboard__left-menu__selected
            "
            >Members</a
          >
          <a href="./dashboard_wargame.html" class="admin-dashboard__left-menu"
            >Wargame</a
          >
        </div>
        <div class="admin-dashboard__right">
          <div class="admin-dashboard__right-components">
            <h1 class="admin-dashboard__right-components__title">
              Members - Add / Update
            </h1>
            <!-- <a class="admin-dashboard__right-button">개시물 작성 (필요합니까?)</a> -->
            <div
              class="admin-dashboard__right-list"
              style="margin-top: 2rem; padding-bottom: 0rem"
            >
              <form action="#" name="updateItem">
                <div class="admin-dashboard__right-list__classes">
                  <h3 class="admin-dashboard__right-list__classes-title">
                    사용자 정보 수정
                  </h3>
                  <div style="height: 5rem"></div>
                  <div class="admin-dashboard__right-list__classes-itemBlock">
                    <p>이메일 :</p>
                    <input
                      type="email"
                      placeholder="이메일을 입력하세요"
                      required
                    />
                  </div>
                  <p class="admin-dashboard__right-list__classes-errorBlock">
                    상위 입력란이 비었습니다.
                  </p>

                  <div class="admin-dashboard__right-list__classes-itemBlock">
                    <p>닉네임 :</p>
                    <input
                      type="text"
                      placeholder="닉네임을 입력하세요"
                      required
                    />
                  </div>
                  <p class="admin-dashboard__right-list__classes-errorBlock">
                    상위 입력란이 비었습니다.
                  </p>

                  <div class="admin-dashboard__right-list__classes-itemBlock">
                    <p>비밀번호 :</p>
                    <input
                      type="password"
                      placeholder="비밀번호 입력"
                      required
                    />
                  </div>
                  <p class="admin-dashboard__right-list__classes-errorBlock">
                    상위 입력란이 비었습니다.
                  </p>

                  <div class="admin-dashboard__right-list__classes-itemBlock">
                    <p>비밀번호 재입력 :</p>
                    <input
                      type="password"
                      placeholder="비밀번호와 동일하게"
                      required
                    />
                  </div>
                  <p class="admin-dashboard__right-list__classes-errorBlock">
                    상위 입력란이 비었거나 비밀번호란과 일치하지 않습니다.
                  </p>

                  <div class="admin-dashboard__right-list__classes-itemBlock">
                    <p>프로필 사진 :</p>
                    <input type="file" />
                  </div>
                  <div class="admin-dashboard__right-list__classes-itemBlock">
                    <p></p>
                    <input
                      class="
                        admin-dashboard__right-list__classes-itemBlock__submit
                      "
                      type="submit"
                      value="저장"
                    />
                  </div>
                </div>
              </form>
            </div>

            <!-- ---------------------- paging ---------------------- -->
            <!-- <div class="admin-dashboard__right-paging">
                            <a href="#" class="admin-dashboard__right-paging__item"><</a>
                            <a href="#" class="admin-dashboard__right-paging__item admin-dashboard__right-paging__item-selected">1</a>
                            <a href="#" class="admin-dashboard__right-paging__item">2</a>
                            <a href="#" class="admin-dashboard__right-paging__item">3</a>
                            <a href="#" class="admin-dashboard__right-paging__item">></a>
                        </div> -->
          </div>
          <div class="admin-logo">
            <img src="../images/logo_nocolor.svg" alt="" />
          </div>
        </div>
      </div>
    </main>
  </body>

  <script>
    var isMenuOpened = false;
  </script>
</html>
