<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./common/head') -%>
        <title>CUHA-ON</title>
    </head>
    
    <body>
        <%- include('./common/header') -%>

        <main class="main">
            <div class="main__area3" style="padding: 17rem 0">
                <div class="main__area3-loginForm">
                    <form action="/auth/login" method="post">
                        <h1>로그인</h1>
                        <br />
                        <br />

                        <input type="email" name="email" placeholder="이메일" />
                        <br />
                        <br />
                        <br />
                        <input type="password" name="password" placeholder="비밀번호" />
                        <br />
                        <a href="#">암호를 잊어버렸습니다.</a>
                        <br />

                        <input type="submit" value="로그인" />
                    </form>
                </div>
                <!--  -->
                <div style="text-align: center; padding-top: 4rem; font-size: 1.4rem">
                    <p>
                        드림핵이 처음이신가요?
                        <a href="/auth/join" class="main__area3-isFirstVisitor">회원가입 </a>
                    </p>
                </div>
            </div>
        </main>

        <%- include('./common/footer') -%>
    </body>
</html>
