<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../common/head') -%>
    <title>CUHA-ON</title>
  </head>

  <body>
    <div class="admin">
      <div class="admin-login">
        <h1>LOGIN</h1>
        <p class="admin-login__subtitle">관리자 계정으로 로그인하세요.</p>
        <div style="margin-top: 2rem">
          <form action="/admin/login" method="POST">
            <input
              type="text"
              id="req-0"
              name="email"
              class="admin-login__text"
              placeholder="아이디"
              autocomplete="off"
              required
            />
            <p class="admin-login__error" id="err-0">
              상위 입력란이 비었습니다.
            </p>
            <div style="height: 1rem"></div>

            <input
              type="password"
              id="req-1"
              name="password"
              class="admin-login__text"
              placeholder="비밀번호"
              required
            />
            <p class="admin-login__error" id="err-1">
              상위 입력란이 비었습니다.
            </p>
            <div style="height: 2rem"></div>

            <input type="submit" class="admin-login__submit" value="로그인" />
          </form>
        </div>
      </div>
    </div>
    <div class="admin-logo">
      <img src="../images/logo_nocolor.svg" alt="" />
    </div>
  </body>

  <script>
    var isMenuOpened = false;
  </script>
</html>
