<a
  href="/admin/members"
  class="admin-dashboard__left-menu admin-dashboard__left-menu__selected"
  >Members</a
>
<a href="/admin/wargame" class="admin-dashboard__left-menu">Wargame</a>
<a href="/admin/forum/freeBoard" class="admin-dashboard__left-menu"
  >ForumFreeBoard</a
>
<a href="/admin/forum/QnABoard" class="admin-dashboard__left-menu"
  >ForumQnABoard</a
>
