<header class="forum-header">
  <!-- logo -->
  <div class="area" style="width: 14rem; height: 4rem; text-align: left">
    <a href="/" class="logo">
      <div class="logo-img"></div>
    </a>
  </div>

  <!-- search box -->
  <div
    class="area"
    id="area-search"
    style="width: calc(100% - 20rem); height: 4rem; text-align: left"
  >
    <form action="/forum/search.html" name="serch">
      <input
        type="text"
        class="search-box"
        id="search_box"
        name="search_box"
        placeholder="검색할 내용을 입력하세요."
      />
      <input type="submit" class="search-btn" value="검색" />
    </form>
  </div>

  <!-- signin/out -->
  <div class="area" style="width: 6rem; text-align: right">
    <a href="/../login.html" class="user-login"> </a>
  </div>
</header>
