<a class="navi-item font-header" href="/forum/ranking">랭킹</a>
<a class="navi-item font-header" href="/forum/freeBoard">자유 게시판</a>
<a class="navi-item font-header" href="/forum/qnaBoard">질문 게시판</a>
<a class="navi-item font-header" href="/forum">홈</a>
