<a class="navi-item font-header" href="/forum/ranking">랭킹</a>
<a class="navi-item font-header" href="/forum/board">자유 게시판</a>
<a class="navi-item font-header" href="/forum/board">질문 게시판</a>
<a class="navi-item font-header" href="/forum/index">홈</a>
