<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap"
      rel="stylesheet"
    />

    <!-- include libraries(jQuery, bootstrap) -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- include summernote css/js -->
    <link
      href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>

    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="shortcut icon" type="image/png" href="../img/favicon.png" />

    <title>cuha-on</title>
  </head>

  <body>
    <header class="admin-header">
      <div class="admin-header__logo"></div>
      <div class="admin-header__component">
        <!-- <form action="#" name="searchbox" style="display: inline">
                    <input class="admin-header__component-search" name="search" type="text" placeholder="검색" autocomplete="off" />
                </form> -->
        <a
          href="/admin/logout"
          class="admin-header__component-button"
          style="margin-left: 2rem"
          >로그아웃</a
        >
      </div>
    </header>
    <main
      class="ad"
      style="overflow: hidden; height: 120rem; width: 190rem; clear: both"
    >
      <div class="admin-dashboard">
        <div class="admin-dashboard__left">
          <a href="/admin/members" class="admin-dashboard__left-menu"
            >Members</a
          >
          <a
            href="/admin/wargame"
            class="
              admin-dashboard__left-menu admin-dashboard__left-menu__selected
            "
            >Wargame</a
          >
          <a href="/admin/forum/freeBoard" class="admin-dashboard__left-menu"
            >ForumFreeBoard</a
          >
          <a href="/admin/forum/QnABoard" class="admin-dashboard__left-menu"
            >ForumQnABoard</a
          >
        </div>
        <div class="admin-dashboard__right">
          <div class="admin-dashboard__right-components">
            <h1 class="admin-dashboard__right-components__title">
              Wargame - Add / Update
            </h1>
            <!-- <a class="admin-dashboard__right-button">개시물 작성 (필요합니까?)</a> -->
            <div
              class="admin-dashboard__right-list"
              style="margin-top: 2rem; padding-bottom: 0rem"
            >
              <form
                action="/admin/wargame/create"
                name="updateItem"
                method="POST"
              >
                <div class="admin-dashboard__right-list__classes">
                  <h3 class="admin-dashboard__right-list__classes-title">
                    Wargame 게시물 작성
                  </h3>
                  <div style="height: 5rem"></div>
                  <div class="admin-dashboard__right-list__classes-itemBlock">
                    <p>제목 :</p>
                    <input
                      type="text"
                      placeholder="제목을 입력하세요"
                      name="title"
                      required
                    />
                  </div>
                  <div class="admin-dashboard__right-list__classes-itemBlock">
                    <p>작성자 :</p>
                    <input
                      type="text"
                      placeholder="작성자"
                      name="nickname"
                      required
                    />
                  </div>
                  <div class="admin-dashboard__right-list__classes-itemBlock">
                    <p>카테고리 :</p>
                    <div
                      class="
                        admin-dashboard__right-list__classes-itemBlock__div
                      "
                    >
                      <input type="radio" name="type" value="all" />
                      <label for="cb0">ALL</label>

                      <input type="radio" name="type" value="system" />
                      <label for="cb1">시스템해킹</label>

                      <input type="radio" name="type" value="reversing" />
                      <label for="cb2">리버싱</label>

                      <input type="radio" name="type" value="web" />
                      <label for="cb3">웹해킹</label>

                      <input type="radio" name="type" value="cipher" />
                      <label for="cb4">암호화</label>

                      <input type="radio" name="type" value="forensic" />
                      <label for="cb5">포렌식</label>

                      <input type="radio" name="type" value="misc" />
                      <label for="cb6">기타</label>
                    </div>
                  </div>
                  <div class="admin-dashboard__right-list__classes-itemBlock">
                    <p>레벨 :</p>
                    <div
                      class="
                        admin-dashboard__right-list__classes-itemBlock__div
                      "
                    >
                      <input type="radio" name="level" value="level1" />
                      <label for="cb10">Level 1</label>

                      <input type="radio" name="level" value="level2" />
                      <label for="cb11">Level 2</label>

                      <input type="radio" name="level" value="level3" />
                      <label for="cb12">Level 3</label>

                      <input type="radio" name="level" value="level4" />
                      <label for="cb13">Level 4</label>

                      <input type="radio" name="level" value="level5" />
                      <label for="cb14">Level 5</label>
                    </div>
                  </div>
                  <div class="admin-dashboard__right-list__classes-itemBlock">
                    <p>포인트 :</p>
                    <input
                      type="text"
                      placeholder="제공할 포인트를 입력하세요"
                      name="point"
                      required
                    />
                  </div>
                  <div class="admin-dashboard__right-list__classes-itemBlock">
                    <p>플래그 :</p>
                    <input
                      type="text"
                      placeholder="플래그를 입력하세요"
                      name="flag"
                      required
                    />
                  </div>
                  <div class="admin-dashboard__right-list__classes-itemBlock">
                    <p style="vertical-align: top">문제 설명 :</p>
                    <div
                      style="width: 70%; height: 30rem; display: inline-block"
                    >
                      <textarea
                        name="content"
                        id="summernote"
                        class="summernote"
                      ></textarea>
                    </div>
                  </div>
                  <div class="admin-dashboard__right-list__classes-itemBlock">
                    <p>첨부 파일 :</p>
                    <input type="file" />
                  </div>
                  <div class="admin-dashboard__right-list__classes-itemBlock">
                    <p></p>
                    <input
                      class="
                        admin-dashboard__right-list__classes-itemBlock__submit
                      "
                      type="submit"
                      value="저장"
                    />
                  </div>
                </div>
              </form>
            </div>

            <!-- ---------------------- paging ---------------------- -->
            <!-- <div class="admin-dashboard__right-paging">
                            <a href="#" class="admin-dashboard__right-paging__item"><</a>
                            <a href="#" class="admin-dashboard__right-paging__item admin-dashboard__right-paging__item-selected">1</a>
                            <a href="#" class="admin-dashboard__right-paging__item">2</a>
                            <a href="#" class="admin-dashboard__right-paging__item">3</a>
                            <a href="#" class="admin-dashboard__right-paging__item">></a>
                        </div> -->
          </div>
          <div class="admin-logo">
            <img src="../images/logo_nocolor.svg" alt="" />
          </div>
        </div>
      </div>
    </main>
  </body>

  <script>
    var isMenuOpened = false;
  </script>
  <script>
    $(document).ready(function () {
      $('#summernote').val(
        "<%- (typeof values === 'undefined') ? '' : `${values.content}` %>",
      );
      $('#summernote').summernote({
        height: 280,
        lang: 'ko-KR',
      });
    });
  </script>
</html>
